# DATABASE
DATABASE_URL="postgresql://user:password@localhost:5432/electricity_demand"

# NEXTAUTH
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
